@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html, body, div, span, p, nav,
h1, h2, h3, h4, h5, h6, strong, small, b, u, i,
ul, ol, li, a, img, figure,
table, thead, tbody, tfoot, th, tr, td,
pre, blockquote {
	margin: 0;
	padding: 0;
	border: 0;
}

html {
    font-family: "Nanum Gothic", sans-serif;
	word-break: break-all;
}

pre, code {
    font-family: "Ubuntu Mono", "Nanum Gothic Coding", monospace;
}

html, body {
    height: 100%;
    max-height: 100%;
    min-height: 100%;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    overflow-y: hidden;
}

.top-navbar-container {
    height: 100%;
    max-height: 100%;
    min-height: 100%;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
    overflow-y: hidden;

    @import "include.top-navbar";

    .left-sidebar-content-toc-container {
        display: grid;
        grid-template-columns: 250px 1fr;

        overflow-y: hidden;

        @import "include.left-sidebar";

        .content-toc-container {
            display: grid;
            grid-template-columns: 1fr 300px;
            overflow-y: auto;

            @import "include.api_main_content";
            @import "include.toc";
        }
    }
}